<template lang="pug">
  div.div-login-form
    .login-form
      .form__group.field
        base-input(v-model="form.login" type="login" :placeholder="pageText.login")
      .form__group.field
        base-input(v-model="form.password" type="password" :placeholder="pageText.password")
      .form__group.field
        base-button(@click='PostLoginForm()') Login
</template>

<script>
import {errors_log} from "@/helpers/errors"
import {lang_page} from "@/helpers/lang"
export default {
  name: "Login",
  data(){
    return{
      form:{
        login: null,
        password:null,
      },
      pageText:{},
      userSettings:null,

    }
  },
  mounted() {
    this.userSettings = this.$store.getters.getUserSettings
    this.pageText = lang_page(this.userSettings.lang,'login')
  },
  methods:{
    PostLoginForm(){

      if(this.form.password.length < 6){
        alert(errors_log('LOGIN_OR_PASSWORD_ERROR',this.userSettings.lang))
      }
      if(this.form.login === 'tester@tester.com' && this.form.password === '123123123'){
        this.$store.dispatch('FILL_TOKEN', 'token')
        this.$router.push('/dashboard')
      }else{
        alert(errors_log('LOGIN_OR_PASSWORD_ERROR',this.userSettings.lang))
      }
    }
  }
}
</script>

<style scoped>

</style>