<template lang="pug">
  div
    h1 {{pageText.title}}
</template>

<script>
import {lang_page} from "@/helpers/lang";

export default {
  name: "settings",
  data(){
    return{
      userSettings:null,
      pageText:'loading',
    }
  },
  mounted(){
    this.userSettings = this.$store.getters.getUserSettings;
    this.pageText = lang_page(this.userSettings.lang,'settings')
    console.log(this.pageText)
  }
}
</script>

<style scoped>

</style>