<template lang="pug">
  div(@click="handleClick")
    .button-parent
      .button-item
        a.btn-1
          slot
</template>

<script>
export default {
  name: "base-button",
  methods: {
    handleClick(evt) {
      this.$emit('click', evt);
    }
  }
}
</script>

<style scoped>

</style>