<template lang="pug">
  div
    input#input.form__field(
      :value="value"
      v-on="listeners"
      :type="type"
      )
    label.form__label(for='input') {{placeholder}}
</template>

<script>
export default {
  name: "base-input",
  props:{
    value: {
      type: [String, Number],
      description: 'Input value'
    },
    type:{
      type:[String],
      description:'Input type',
    },
    placeholder:{
      type: [String, Number],
      description: 'Input placeholder'
    }
  },
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: this.onInput,
      };
    }
  },
  methods: {
    onInput(evt) {
      this.$emit('input', evt.target.value);
    },
  }
}
</script>

<style scoped>

</style>