<template lang="pug">
  nav(style="display:flex")
    ul.navbar
      h3 {{navbarName.text}}
      li(@click="GoToPage('dashboard',pageText.statistics)") {{pageText.statistics}}
      li(@click="GoToPage('purchase',pageText.buys)") {{pageText.buys}}
      li(@click="GoToPage('users',pageText.users)") {{pageText.users}}
      li(@click="GoToPage('settings',pageText.settings)") {{pageText.settings}}
      li(@click="GoToLogin()") {{pageText.exit}}
    router-view
</template>

<script>
import store from '@/store/index'
import {lang_page} from "@/helpers/lang";

export default {
  name: "navbar",
  data(){
    return{
      userSettings: null,
      pageText: null,
    }
  },
  mounted() {
    this.userSettings = this.$store.getters.getUserSettings
    this.pageText = lang_page(this.userSettings.lang,'navbar')
  },
  computed: {
    navbarName() {
      if (store.state.navbarName == null)
        return {text: this.$route.name}
      return store.state.navbarName
    }
  },
  methods: {
    GoToPage(page, name) {
      this.$store.dispatch('FILL_NAVBAR_NAME', {text: name});
      this.$router.push(`/${page}`)
    },
    GoToLogin() {
      this.$store.dispatch('REMOVE_TOKEN', );
      this.$router.push(`/`)
    }
  }
}
</script>

<style scoped>
.navbar {
  background: linear-gradient(to right, #11998e, #38ef7d);
  height: 100vh;
  width: 300px;
}
</style>