body {
    margin: 0px;
}
li {
    cursor: pointer;
    list-style-type: none; /* Убираем маркеры */
    text-align: left;
    color:black;
    font-size:16px;
    margin: 10px 0;
}
/* form */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}
.div-login-form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.login-form {
    padding: 10px;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

.button-parent {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: #4A4A4A;
    display: inline-block;
}

/* button */
.button-item {
    padding-bottom: 2em;
}

.btn-1 {
    padding: 1em 3em;
    border: 3px solid white;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn-1:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, #11998e, #38ef7d);
    top: 0;
    left: 50%;
    z-index: -1;
    transition: all 0ms ease;
}

.btn-1:hover {
    color: white;
    box-shadow: none;
}

.btn-1:hover:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #11998e, #38ef7d);
    top: 0;
    left: 0%;
    z-index: -1;
    transition: all 300ms ease;
}
