<template lang="pug">
  div.div-login-form
    .login-form
      .form__group.field
        base-input(v-model="form.login" type="login" placeholder="Login")
      .form__group.field
        base-input(v-model="form.password" type="password" placeholder="Password")
      //
        .form__group.field
          input#loginform.form__field(v-model="form.login" type='text', name='login', required='' autocomplete="off")
          label.form__label(for='loginform' ) Login
        .form__group.field
          input#passwordform.form__field(v-model="form.password" type='password', name='Password', required='' autocomplete="off")
          label.form__label(for='passwordform' ) Password

      .form__group.field
        base-button(@click='PostLogin()') Login




</template>

<script>
export default {
  name: "login_form",
  data(){
    return{
      form:{
        login:'',
        password:'',
      }
    }
  },
  methods: {
    PostLogin() {
      console.log(this.form)
      this.$emit('takeLoginForm', this.form)
    }
  }
}
</script>

<style scoped>
</style>